* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/*------------ REVIEW ------------*/
* {
  padding: 0;
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
.col-carousel-flex {
  background-color: #0a121e;
  width: 100%;
  height: 65vh;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-carousel-flex .carousel-slider {
  max-width: 1100px;
}
.col-carousel-flex .carousel-slider .carousel-border-card {
  border: 1px solid #ffffff46;
  background-color: #2f3641;
  max-height: 220px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}
.col-carousel-flex .carousel-border-card .title {
  text-transform: capitalize;
  padding: 10px 6px;
  font-size: 28px;
  color: white;
}
.col-carousel-flex .carousel-border-card .desc {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  color: #c0c0c0;
  padding: 10px;
}
.carousel-border-card .col-carousel-createdAt {
  padding: 0 8%;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carousel-border-card .col-carousel-createdAt p {
  padding: 20px 0;
}
.rating-stars i {
  color: #e6432f;
  margin: 4px;
}
@media screen and (max-width: 1024px) {
  .col-carousel-flex .carousel-slider {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .col-carousel-flex .carousel-slider {
    width: 70%;
  }
}
@media screen and (max-width: 425px) {
  .col-carousel-flex .carousel-slider {
    width: 90%;
  }
}
/*------------ REVIEW ENDS ------------ */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 0;
  /* height: 100vh; */
  width: 100%;
  background-color: #0a121e;
}

.formMain {
  background-color: #262f3d;
  padding: 16px 22px;
  display: flex;
  box-shadow: 0 0 8px #00000020;
  border-radius: 8px;
  justify-content: center;
  flex-direction: column;
}
.teamMain {
  border: 1px solid #ffffff3d;
  width: 30%;
  min-width: 30%;
}

@media screen and (max-width: 1024px) {
  .teamMain {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .teamMain {
    width: 50%;
  }
  .arrow {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .teamMain {
    width: 80%;
  }
}

.showImageMain {
  background-color: #0a121e;
  position: relative;
  border-radius: 8px;
  width: 100%;
  margin: auto;

  .imgDiv {
    height: 140px;
    width: 140px;
    padding: 20px;
    margin: auto;
  }

  .inputImage {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .delImage {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;

    & i {
      font-size: 18px;
    }

    & i:last-child {
      display: none;
    }
  }
  .delImage:hover i:first-child {
    display: none;
  }
  .delImage:hover i:last-child {
    display: block;
    animation: move both ease-in-out 1s;
    animation-iteration-count: 1;
  }
}

@keyframes move {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0);
  }
  30%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
}
.defaultImgDiv {
  display: grid;
  place-items: center;
}
.defaultImg {
  height: 100px;
  width: 100px;
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.main .formMain label,
input {
  margin-bottom: 8px;
  color: #ffffffa8;
}
.main .formMain input,
textarea {
  flex-grow: 1;
  background-color: #0a121eb0;
  padding: 10px;
  border: 1px solid #00000020;
  border-radius: 8px;
  outline: none;
}
.main .formMain textarea {
  min-width: 100%;
  max-width: 100%;
}
.main .formMain input:focus {
  border: 1px solid #0065f3;
}

.main .formMain button {
  padding: 8px;
  background: transparent;
  border: 1px solid #0065f3;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  margin-top: 12px;
  min-height: 40px;
  max-height: 40px;

  .arrow {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    display: none;
  }

  .loading {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 4px dashed;
    /* border-radius: 100%; */
    animation: loading 0.5s both ease-in-out infinite;
  }
}
.main .formMain button:hover {
  opacity: 0.9;
  background-color: #0065f3;
}
.formMain button:hover .arrow {
  display: block;
  animation: myMove 0.5s ease-in-out 1 both;
}
@keyframes myMove {
  from {
    left: 60%;
    opacity: 1;
  }
  to {
    left: 80%;
    opacity: 0;
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Rating  */
.starMain {
  text-align: center;
  margin-top: 16px;
}

input[type="radio"] {
  display: none;
}
.star {
  cursor: pointer;
}

/* Rating  */

.col-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* DASHBOARD TABLE START */
.db-col-outer {
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0157ace8;
  position: relative;
}
.db-col-inner-flex {
  position: relative;
}
.search-input {
  width: 40%;
  border: none;
  outline: none;
  color: black;
  font-size: 13px;
  border-radius: 8px;
  background: #ffffff;
  padding: 8px 16px 8px 8px;
  border: 1px solid #fff;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translate(-50%, -50%);
}
.searchIcon {
  color: #5a5a5a;
  cursor: pointer;
  padding: 5px 12px;
  border-left: 1px solid #d1d1d186;
  position: absolute;
  top: 50%;
  left: 96%;
  transform: translate(-50%, -50%);
}
.search-input:focus {
  outline: none;
  border: 1px solid #006aff;
}
.db-col-inner {
  padding: 30px 22px 22px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background: #558eca;
  backdrop-filter: blur(2.5px);
  box-shadow: 0 8px 32px 0 #1f26875e;
  -webkit-backdrop-filter: blur(2.5px);
}
.db-inner-title {
  width: 1244px;
  color: #007bff;
  font-size: 23px;
  padding: 8px 22px;
  border-radius: 10px;
  background: #9abcdf;
  border-end-end-radius: 0px;
  border-end-start-radius: 0px;
}
.max-pad {
  padding: 18px 22px;
}
.db-main {
  width: 1200px;
  max-width: 1200px;
  border-radius: 10px;
  overflow: auto !important;
  background: #bcd2e9;
  border: 1px solid #ffffff2e;
  box-shadow: 0 8px 32px 0 #1f26875e;
}
.db-main .db-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 2%;
  margin-bottom: 10px;
}
.db-main .db-filter .icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.db-main .db-filter .icons p,
.db-main .db-filter .icons i {
  font-size: 12px;
}
.db-main .db-filter .icons i:hover {
  cursor: pointer;
}
.db-main .db-filter span {
  padding: 8px 22px;
  border-radius: 8px;
  background: #e8f1f6;
}
.db-main .db-table-wrapper {
  border-radius: 10px;
}
.db-table-wrapper table {
  width: 100%;
  font-size: 13px;
  color: #5a5a5a;
  margin-bottom: 8px;
  border-collapse: collapse;
}
.db-table-wrapper table .imgNameDiv {
  display: flex;
  gap: 10px;
  align-items: center;

  & img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.db-table-wrapper table .checkbox {
  margin-right: 10px;
}
.db-table-wrapper .actionBtn {
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  padding: 6px 12px;
  border-radius: 6px;
  background: #1866b3;
  opacity: 0.9;
}
.db-table-wrapper .actionBtn:hover {
  opacity: 1;
}
.db-table-wrapper th,
.db-table-wrapper td {
  padding: 10px;
  padding-left: 22px;
}
.db-table-wrapper table tr th {
  color: black;
  text-align: center;
  padding: 12px 22px;
  background: #ffffffa6;
}
.db-table-wrapper table tr th:first-child {
  text-align: left;
}
.db-table-wrapper table tr td i {
  color: #ff0000b7;
}
.db-table-wrapper table tr td {
  text-align: center;
}
.db-table-wrapper table tr td:first-child {
  text-align: left;
}
.db-table-wrapper table tr td .check {
  color: #03b403;
}
.db-table-wrapper table .t-name {
  font-size: 13px;
  font-weight: 400;
  color: #444;
}
.db-table-wrapper table .t-dot {
  text-align: center;
  position: relative;
}
.db-table-wrapper table .t-dot::before {
  position: absolute;
  content: "";
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #ff0000b7;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.db-table-wrapper tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.35);
}

.tableBtn {
  background-color: #eee;
  border-radius: 4px;
  padding: 10px 18px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
}
.tableBtn:hover {
  opacity: 0.9;
}

/* DASHBOARD TABLE ENDS */

/* news and updates  */

.new-card-main {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 1% 6%;
}
.new-card-main .news-card {
  border-radius: 0.4rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
}

.new-card-main .news-card .news-images {
  width: 100%;
  height: 220px;
}

.new-card-main .news-card .news-images img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.new-card-main .news-card .news-info {
  padding: 12px;
}

.new-card-main .news-card .news-info h2 {
  font-size: 18px;
  margin: 0 0 14px;
}

.new-card-main .news-card .news-info p {
  font-size: 14px;
  margin: 0 0 15px;
}

/* news and updates  */
.box {
  border: solid;
  height: 200px;
  width: 100%;
  background-color: gray;
}
.model {
  border: solid;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in;
}

.form-outer {
  background-color: rebeccapurple;

  .eachSection {
    border: solid brown;
    display: flex;
    flex-direction: column;
    margin: 0 6%;

    & h3 {
      padding: 4px;
      color: blue;
      background-color: #dadadd;
    }

    & form {
      border: solid black;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      & div {
        border: 1px solid yellow;
        padding: 8px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

/* aplly form  */

.form {
  max-width: 1200px;
  margin: auto;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  & input {
    color: black;
  }
}

/* Team Member */
.team-col-main {
  background: #0a121e;
  margin-bottom: 40px;
  padding: 40px;

  .team-col-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);

    .card {
      background: #2f3641;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10%;
      gap: 30px;
      height: 120px;

      & img {
        height: 80px;
        width: 80px;
        object-fit: cover;
        border-radius: 50%;
      }

      .cardInfo {
        flex: 2;

        & h2 {
          color: #fff;
          font-size: 18px;
          font-weight: 700;
          margin-block: auto;
        }
        & h4 {
          font-size: 14px;
          color: #ffffff85;
          font-weight: 400;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .team-col-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (max-width: 425px) {
    .team-col-grid {
      grid-template-columns: 1fr;
    }
  }
}

/* Team Member */

.backCover {
  background: linear-gradient(90deg, #fafafa 20px, transparent 1%) 50%,
    linear-gradient(#fafafa 20px, transparent 1%) 50%, #c7c4c4;
  background-size: 22px 22px;
  padding: 40px 0;
  max-height: 100%;
}

.dash-wrapper {
  margin: 0 6%;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  box-shadow: 0 0 20px 0 rgba(28, 9, 80, 0.15);
}
.filterBox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .innerInput {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;

    & input {
      width: 100%;
      font-size: 14px;
      color: darkcyan;
      margin-right: 70px;
      border-radius: 8px;
      padding: 12px 85px 12px 8px;
      border: 1px solid #00000020;
    }
    & :focus {
      outline: none;
      font-size: 14px;
      border: 1px solid darkcyan;
    }
    & button {
      background-color: darkcyan;
      padding: 8px 16px;
      color: white;
      border: none;
      border-radius: 8px;
      position: absolute;
      top: 45%;
      left: 65%;
      transform: translate(-50%, -50%);
    }
    & :hover {
      opacity: 0.9;
    }
  }
}
.dash-wrapper .mainTitle {
  color: #444;
  padding: 0 6%;
  font-size: 32px;
  font-weight: 600;
  margin: 14px 12px;
}
.dash-wrapper .mainTitle span {
  color: darkcyan;
}

.cate-buttons {
  gap: 10px;
  margin: 1% 0;
  padding: 0 6%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  & button {
    padding: 6px;
    flex-grow: 1;
    font-size: 15px;
    color: #292d34;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    background-color: #00000023;
  }
  & :hover {
    background-color: darkcyan;
    color: white;
  }
}

.dasboard-Main {
  height: 100%;
  padding: 1% 6% 2%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
}
.das-col {
  width: 100%;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 12px;
  border: 1px solid #00000020;
}
.das-sub-col {
  gap: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.das-col .das-sub-col .dasImgMain {
  height: 100px;
  width: 130px;
}
.das-col .das-sub-col .das-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.das-sub-col .das-info {
  line-height: 2;
}
.das-col .das-info .cate {
  line-height: normal;
}
.das-col .das-info .title {
  font-size: 18px;
  font-weight: 600;
  max-width: 30vw;
  line-height: 1.4;
}
.das-col .action {
  margin-right: 18px;
}
.das-col .action i {
  color: #00000080;
  margin: 8px;
}
.das-col .action i:nth-child(1) {
  color: #333;
}
.das-col .action i:nth-child(2) {
  color: blue;
}
.das-col .action i:nth-child(3) {
  color: red;
}
.das-col .action i:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Dashboard  */
